.Title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 2em;
  margin-bottom: 2em;
  background-color: rgb(192, 45, 26);
  color: #fff;
}

.Title h1 {
  margin: 0;
}

.Title-Subtitle {
  display: block;
  color: rgba(255, 255, 255, 0.75);
}

.Title a {
  display: inline-block;
  padding: 0.5em 1em;
  color: rgba(255, 255, 255, 0.835);
  font-weight: bold;
  text-decoration: none;
}

.Title .nav-link-active {
  color: #fff;
  border-bottom: 2px solid;
}